<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css"
      />
  </head>
  <body>
    <br>
    <%= link_to 'Products', products_path %>
    <br>
    <%= link_to 'Webhooks', webhooks_path %>
  </body>
</html>
