<br>
<%= button_tag('Create Funnel', { id: 'create_funnel', type: 'button' }) %>

<div id="funnels">
  <br>
  <% @funnels.each do |funnel| %>
    <%= link_to "#{funnel.name}", funnels_show_path(funnel.id) %>
    <br>
  <% end %>
</div>

<script>
  const create_funnel_button = document.getElementById('create_funnel');
  create_funnel_button.addEventListener('click', () => {
    fetch('/nv_shop/api/v1/funnels/create', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Shopify-Domain': window.shopOrigin
      }
    })
  })
</script>
